*
{
  margin: 0;
  padding: 0;
  font-family: consolas;
  box-sizing: border-box;
}


body
{
  display: flex;
  justify-content:flex-start;
  /*align-items : controls the position of the row/column */
  align-items:baseline;
  min-height: 150vh;

  /* flex-direction ---> Controls the alingment */
  flex-direction:row-reverse;
  background: #050801;
  color: #FFFC00;
  font-weight: bolder;
  font-size: 18px;
  font-family: 'Pangolin', cursive;
  transition: 0.99s;
}


a
{
  position:relative;
  display:inline-block;
  padding: 15px 10px;
  margin: 40px 0;
  color: #FFFC00;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;

}


/* controls the neon % colour appearing on HOVER */
a:hover
{
  background: #03e9f4;
  color: #FFFC00;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
}



/* CHANGING THE NEON COLOURS */


a:nth-child(1)
{
  filter: hue-rotate(290deg);
}


a:nth-child(2)
{
  filter: hue-rotate(240deg);
}

a:nth-child(3)
{
  filter: hue-rotate(130deg);
}


a:nth-child(4)
{
  filter: hue-rotate(50deg);
}

a:nth-child(5)
{
  filter: hue-rotate(190deg);
}






.file{
  content: 'Select some files';
    /* display: inline-block; */
    /* background: white; */
    /* border: 3px solid #999; */
    padding: 15px 18px;
    outline:none;
    /* white-space: nowrap; */
    /* -webkit-user-select: none; */
    cursor: pointer;
    font-weight: 700;
    font-family: Pangolin;
    font-size: 15pt;


}

.file::before {
  border-color: white;
}
.file{
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  background: -webkit-linear-gradient(top);
}

.file:hover{
  /* background: #FFFC00;
  color: black; */
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  filter: hue-rotate(240deg)

}
.file:focus{
  width : 400px
}










.box{
  width:500px;
  padding: 40px;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:linear-gradient( 90deg);
  background-size: 400%;
  text-align:center;
}






#head_text{
  font-family: 'Pangolin', cursive;
  color: white;
  text-transform: uppercase;
  color: #FFFC00;
  font-weight: bolder;
  font-size: 18px;
  transition: 0.99s;
}





/* email & password box design */
.box input[type = "text"]
{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #019031;
  padding: 14px 20px;
  width: 300px;
  outline: none;
  color: white;
  font-family: Pangolin, cursive;
  font-size: 15pt;

  transition: 0.25s;

}




/* auto adjustment of box size using :         focus */
.box input[type = "text"]:focus
{
  width : 400px;
  border-color: #FF3031;
}




/* for submit button */
.box input[type = "submit"]
{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #FFFC00;
  padding: 14px 30px;
  outline: none;
  color: #FFFC00;
  font-weight: bolder;
  font-size: 18px;
  font-family: Pangolin, cursive;
  transition: 0.99s;
  cursor: pointer;
}

/* for submit button on hovering */
.box input[type = "submit"]:hover
{
  color: black;
  background:  #FFFC00;
}
