<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Glowing</title>
    <link rel="stylesheet" href="../static/glow.css">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
  </head>
  <body>

    <<h1 id="head_text"> Successfully extracted!</p>
    <p>Download your extracted file here!</p>
      </h1>
    <form action="/download" method = "get" id="head_text">
            <input type="submit"  class="download" value="Download">
    </form>

  </body>
</html>
